<ion-header>
  <ion-toolbar>
    <ion-buttons>
        <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>Ingredients</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="goToBasket()"><ion-icon name="basket" slot="icon-only"></ion-icon></ion-button>           
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-label>Tomato</ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Cucumber</ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Apple</ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Soy Milk</ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Potato</ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
      <ion-label>Rice</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Mango</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Lettuce</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Carrot</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Cheese</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
</ion-list>


</ion-content>
