<ion-header>
  <ion-toolbar>
    <ion-title>Recipes</ion-title>
  </ion-toolbar>
  <ion-toolbar> 
      <ion-tabs>
          <ion-tab-bar slot="top">
          <ion-tab-button>
             <ion-label> Vegitarian</ion-label>   
         </ion-tab-button>
         <ion-tab-button>
             <ion-label> Vegan</ion-label>   
         </ion-tab-button>
         <ion-tab-button>
             <ion-label>Halal</ion-label>   
         </ion-tab-button>
          </ion-tab-bar>
         </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
          <ion-icon src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/gfkids_maccheese.jpg"></ion-icon>
          <ion-label>3-veg mac 'n' cheese</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Slow cooker chicken casserole</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Pasta with salmon & peas</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Sausage & white bean casserole</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>One-pan egg & veg brunch</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Pork & apple burgers</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Teriyaki salmon & green beans</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Spiced koftas with honey & chickpeas</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Chicken & bean enchiladas</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Swedish meatball burgers</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
      </ion-list>
      


</ion-content>
