<ion-header>
  <ion-toolbar>
    <ion-title >select ingredients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Tomatoes</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Red onion</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Carrot</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Olive oil</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Salt</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
  <ion-item>
   <ion-label>Garlic</ion-label>
   <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
      <ion-label>Prawns</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Snake Beans</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Cherry Tomatoes</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Mushrooms</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Pumpkin</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-label>Potatoes</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Baby corn</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Cabbage</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Beetroot</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Broccoli</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
  </ion-list>
</ion-content>
